/* Contacto */

.formText {
    font-family: 'Sarabun';
    font-size: 1em;
    color: map-get($colores, secundario);
}

.btn {
    background-color: map-get($colores, secundario);
    color: map-get($colores, footerBg);
    font-weight: 600;
}

#Formulario {
    background-color: map-get($colores, primarioBg);
    margin: 5% auto;
    border-top: 2px solid blanchedalmond;
    border-bottom: 2px solid blanchedalmond;
}