/* Footer */
@import '../componentes/listas';

footer {
    background-color: map-get($colores, footerBg);
    border-top: 2px solid blanchedalmond;
}

.imgFooter1 {
    margin: 10px auto;
    width: 30%;
}

.imgFooter2 {
    margin: 10px 0 10px 35px;
}

.parrafoFooter {
    margin-bottom: 0;
}

.divRedes {
    margin-bottom: 0;
    padding-left: 0;
}

.red {
    width: 60px;
    transition: all 0.5s ease-in-out;
}

.facebook:hover {
    content: url(../Multimedia/pngFacebook2.png);
    transform: rotate(0.25turn) rotate(0.25turn) rotate(0.25turn) rotate(0.25turn);
}

.instagram:hover {
    content: url(../Multimedia/pngInstagram2.png);
    transform: rotate(0.25turn) rotate(0.25turn) rotate(0.25turn) rotate(0.25turn);
}

.linkedIn:hover {
    content: url(../Multimedia/pngLinkedin2.png);
    transform: rotate(0.25turn) rotate(0.25turn) rotate(0.25turn) rotate(0.25turn);
}

.fixed {
    position: fixed;
    bottom: 2%;
    right: 1%;
    z-index: 1;
}