@font-face {
    font-family: 'Open Sans';
    src: url('../Fuentes/Open_Sans/OpenSans-Light.ttf');
}

@font-face {
    font-family: 'Philosopher';
    src: url('../Fuentes/Philosopher/Philosopher-Italic.ttf');
}

@font-face {
    font-family: 'Sarabun';
    src: url('../Fuentes/Sarabun/Sarabun-Light.ttf');
}